page-pagina-inicial {
    ion-input{
        color: aliceblue;
    }
    ion-card {
        color:white;
    }
    ion-card-title-content {
        color: white;
    }
}
.card-title{
    color:#4cd137;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
}
.card{
    background-color:#3958ac;
}
